<h1>Created new article</h1>

<% if @article.errors.any? %>
  <h2>Errors due to which article was not created</h2>
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>


<%= form_with scope: :article, url: articles_path, data: { turbo: false }, local: true do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit%>  
  </p>
<% end %>
